<!DOCTYPE html>
<html>
<head>
  <title>leftOvr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
  <div class="nav">
  <%= nav_bar :static => :top, :responsive => true, :brand => "leftOvr", :brand_link => root_path do %>
    <%= menu_group do %>
          <%= menu_divider %>
          <%= menu_item "Members", users_path %>
          <%= menu_item "Messages", messages_path %>
          <%= menu_item "Articles"%>
      <% end %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
